doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		title Академия здоровых ног
		link(rel="stylesheet", href='css/all.css')
	body
		main.main
			section.section.services
				div.section__wrapper
					ul.section__items
						li.section__item
							img.section__img(src="../img/ФЛЕБОЛОГИЯ.jpg", alt="ФЛЕБОЛОГИЯ фото")
							h3.services__title ФЛЕБОЛОГИЯ
							p.section__paragraph Обратитесь к грамотному флебологу в Москве, который подберет для Вас правильное лечение. 
						li.section__item
							img.section__img(src="../img/ЛИМФОЛОГИЯ.jpg", alt="ЛИМФОЛОГИЯ фото")
							h3.services__title ЛИМФОЛОГИЯ
							p.section__paragraph У нас имеется огромный спектр методов и большой опыт в лечении лимфатических отеков. 
						li.section__item
							img.section__img(src="../img/МИКРОХИРУРГИЯ.jpg", alt="ЛИМФОЛОГИЯ фото")
							h3.services__title МИКРОХИРУРГИЯ
							p.section__paragraph Нашим микрохирургом выполняются сложнейшие операции на лимфатических сосудах, нервах и сухожилиях.
					ul.section__items
						li.section__item
							a.services__link(href="#") Подробнее
							ul.services__mini-items
								li.services__mini-item
									a.services__mini-link(href="#") расписание врачей
								li.services__mini-item
									a.services__mini-link(href="#") цены
						li.section__item
							a.services__link(href="#") Подробнее
							ul.services__mini-items
								li.services__mini-item
									a.services__mini-link(href="#") расписание врачей
								li.services__mini-item
									a.services__mini-link(href="#") цены
						li.section__item
							a.services__link(href="#") Подробнее
							ul.services__mini-items
								li.services__mini-item
									a.services__mini-link(href="#") расписание врачей
								li.services__mini-item
									a.services__mini-link(href="#") цены
				div.section__controls
					button(type='button').section__control.section__control--prev
					button(type='button').section__control.section__control--next
			section.about
				div.about__wrapper.container
					div.about__paragraphs
						p.about__paragraph Лечение заболеваний вен и болезней лимфатической системы в нашем центре imосуществляется с помощью эффективных миниинвазивных методов. С этой целью мы проводим уникальные микрохирургические операции, эндовенозные облитерации, склеротерапию позволяющие с высокой степенью эффективности устранять даже самые сложные патологии на запущенных стадиях, предотвращая риск их дальнейшего прогрессирования и повторного возникновения.
						p.about__paragraph С целью лечения патологий вен и лимфатической системы в нашем центре используют высокоэффективные методы и операции, среди них:
					div.about__lists
						ul.about__items
							li.about__item
								a.about__link(href="#") Флебология
							li.about__item
								a.about__link(href="#") Лимфология
							li.about__item
								a.about__link(href="#") Микрохирургия
							li.about__item
								a.about__link(href="#") Эндовенозная лазерная облитерация
							li.about__item 
								a.about__link(href="#") Радиочастотная облитерация вен
							li.about__item
								a.about__link(href="#") Чрезкожная радиочастотная коагуляция
							li.about__item
								a.about__link(href="#") Чрезкожная лазерная коагуляция
							li.about__item
								a.about__link(href="#") Микрослеротерапия сосудистых звездочек
							li.about__item
								a.about__link(href="#") Склеротерапия (Foam-form)
							li.about__item
								a.about__link(href="#") Минифлебэктомия
							li.about__item
								a.about__link(href="#") Shave-терапия и аутодермопластика
							li.about__item
								a.about__link(href="#") Лимфовенозные анастомозы
							li.about__item
								a.about__link(href="#") Компрессионная терапия
			section.section.doctors
				div.section__wrapper
					ul.section__items
						li.section__item.doctors__item
							img.section__img.section__img--border(src="../img/якушин.jpg", alt="якушин фото")
							h3.doctors__last-name якушкин 
							h3.doctors__first-name сергей николаевич
							p.section__paragraph.doctors__paragraph Руководитель центра. Хирург — флеболог. Сердечно-сосудистый хирург. Специалист ультразвуковой диагностики. Кандидат медицинских наук. 
						li.section__item.doctors__item
							img.section__img.section__img--border(src="../img/копылов.jpg", alt="копылов фото")
							h3.doctors__last-name КОПЫЛОВ
							h3.doctors__first-name АЛЕКСЕЙ ОЛЕГОВИЧ
							p.section__paragraph.doctors__paragraph У нас имеется огромный спектр методов и большой опыт в лечении лимфатических отеков. 
						li.section__item.doctors__item
							img.section__img.section__img--border(src="../img/чиж.jpg", alt="чиж фото")
							h3.doctors__last-name ЧИЖ
							h3.doctors__first-name ЕКАТЕРИНА ЮРЬЕВНА
							p.section__paragraph.doctors__paragraph Нашим микрохирургом выполняются сложнейшие операции на лимфатических сосудах, нервах и сухожилиях.
				div.section__controls.doctors__controls
					button(type='button').section__control.section__control--prev
					button(type='button').section__control.section__control--next