body {
  overflow: hidden; }

#header {
  margin-bottom: 6rem;
  min-height: 80px;
  font-family: "Roboto", sans-serif;
  font-size: 1.06rem;
  font-weight: 900;
  box-shadow: 0 3px 3rem rgba(0, 0, 0, 0.3); }
  #header button {
    text-transform: uppercase;
    background-color: transparent; }
  #header button.navbar-toggler {
    background: #10a38d url("../img/buffer.svg") no-repeat center center;
    background-size: 35px 50px; }
  #header button.collapsed {
    background-color: transparent; }
  #header a {
    padding-right: 0.7rem;
    text-transform: uppercase;
    color: #423f54; }
  #header .active a {
    border-radius: 16px;
    background-color: #10a38d;
    color: #fff; }
  #header form,
  #header form a {
    position: relative;
    color: #10a38d;
    letter-spacing: 0.25rem; }
  #header form a:before {
    content: "";
    position: absolute;
    height: 0.0625rem;
    width: 4rem;
    bottom: -0.3125rem; }
  #header form a:hover:before {
    background-color: #e6ccac; }
  #header form a:last-child:before {
    width: 11rem; }

#form-block {
  font-family: "Roboto", "Arial",sans-serif;
  color: #423f54;
  padding-right: 2rem; }
  #form-block .form-block__shadow {
    border-radius: 2.93rem;
    box-shadow: 0px 0px 6rem rgba(0, 0, 0, 0.2); }
  #form-block .form-group {
    margin-bottom: 0; }
  #form-block h2 {
    margin-bottom: 0;
    margin-top: 5.93rem;
    font-size: 1.625rem;
    font-weight: 400;
    font-family: "Roboto Slab", "Arial", sans-serif;
    color: #10a38d; }
  #form-block .col-md-12 > h2:before {
    content: "";
    position: absolute;
    height: 0.125rem;
    width: 13.5rem;
    bottom: -1.3125rem;
    background-color: #10a38d; }
  #form-block .col-md-9 > h2:before {
    content: "";
    position: absolute;
    height: 0.125rem;
    width: 13.5rem;
    bottom: 2.65rem;
    background-color: #10a38d; }
  #form-block input[type="text"] {
    padding-left: 0;
    margin-top: 4.06rem;
    padding-top: 0;
    line-height: 1.875rem;
    font-weight: 900;
    padding-bottom: 20px;
    border: 0px solid #d9d9dd;
    border-bottom-width: 2px;
    font-family: "Roboto", "Arial",sans-serif;
    font-size: 0.875rem; }
  #form-block input::-webkit-input-placeholder {
    text-indent: 0px;
    color: #423f54;
    transition: text-indent 0.4s ease; }
  #form-block input::-moz-placeholder {
    text-indent: 0px;
    color: #423f54;
    transition: text-indent 0.4s ease; }
  #form-block input:-moz-placeholder {
    text-indent: 0px;
    color: #423f54;
    transition: text-indent 0.4s ease; }
  #form-block input:-ms-input-placeholder {
    text-indent: 0px;
    color: #423f54;
    transition: text-indent 0.4s ease; }
  #form-block input:focus::-webkit-input-placeholder {
    text-indent: 500px;
    color: #423f54;
    transition: text-indent 0.4s ease; }
  #form-block input:focus::-moz-placeholder {
    text-indent: 500px;
    color: #423f54;
    transition: text-indent 0.4s ease; }
  #form-block input:focus:-moz-placeholder {
    text-indent: 500px;
    color: #423f54;
    transition: text-indent 0.4s ease; }
  #form-block input:focus:-ms-input-placeholder {
    text-indent: 500px;
    color: #423f54;
    transition: text-indent 0.4s ease; }
  #form-block label {
    margin-top: 3.4375rem;
    font-size: 0.875rem;
    line-height: 1.875rem;
    text-transform: uppercase;
    font-family: "Roboto", "Arial",sans-serif;
    color: #423f54;
    font-weight: 900; }
  #form-block textarea {
    border-radius: 0;
    border: 2px solid #d9d9dd;
    font-family: "Roboto", "Arial",sans-serif;
    color: #423f54;
    margin-left: 1rem;
    font-weight: 900; }
  #form-block button[type="submit"] {
    color: #fff;
    background-color: #87b8ae;
    margin-top: 2.8125em;
    font-size: 1rem;
    border-bottom-left-radius: 9px;
    border-top-right-radius: 18px;
    padding: 1.56rem  1.875rem;
    outline: 0;
    margin-bottom: 4.375rem; }
    #form-block button[type="submit"]:hover {
      background-color: #aad7ce; }
  #form-block .form-block__night-sky {
    font-family: "Roboto Slab", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    color: #fff;
    background: url("../img/night-sky.png") no-repeat;
    background-size: cover;
    border-top-right-radius: 2.93rem;
    border-bottom-right-radius: 2.93rem; }
    #form-block .form-block__night-sky h2 {
      color: #fff;
      font-size: 1.875rem;
      margin-bottom: 3.75rem; }

#contacts {
  margin-top: 4.0625rem;
  text-align: left;
  color: #9a98a0;
  font-size: 15/16rem;
  font-family: "Roboto", "Arial", sans-serif; }
  #contacts .row div:last-child {
    margin-top: 0.75rem; }

#footer__nav .nav {
  margin-top: 2.75rem;
  margin-bottom: 2.75rem; }

#footer__nav .nav-link {
  padding-top: 0;
  text-transform: uppercase;
  font-size: 0.875rem;
  color: #423f54;
  font-family: "Roboto", "Arial",sans-serif;
  font-size: 14/16 +0rem; }

#footer__nav .active {
  color: #10a38d; }

#footer__right {
  margin-top: 2.0625rem;
  margin-bottom: 1.4375rem;
  font-family: "Roboto Slab", "Arial", sans-serif;
  font-size: 0.875rem; }

@media (max-width: 767px) {
  #form-block {
    padding-left: 2rem; } }
