doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		title Академия здоровых ног
		link(rel='stylesheet', href='css/all.css')
	body 
		header.header
			div.header__wrapper.container
				div.header__info-block
					div.header__info.header__info--work 
						strong.header__info--bold Режим работы: 
						div.header__time 9:00 — 20:00 Пн. — Пт. с 10:00 — 17:00 Суббота. Воскресенье выходной.
					div.header__contacts-block
						div.header__info.header__info--mail
							a(href='#').header__link.
								a-zdorovienogi@mail.ru
						div.header__info.header__info--phone.
							+7 (499) 375-45-55
				nav.nav
					button.nav__toggle(type='button')
					div.nav__logo
						img(src='img/logo.png', alt='Logo').nav__logo-img
					ul.nav__items
						li.nav__item
							a.nav__link(href='#') О центре
						li.nav__item
							a.nav__link(href='#') ЛИМФОЛОГИЯ И ФЛЕБОЛОГИЯ
						li.nav__item
							a.nav__link(href='#') Лечение
						li.nav__item
							a.nav__link(href='#') Цены
						li.nav__item
							a.nav__link(href='#') Доктора
						li.nav__item
							a.nav__link(href='#') Результаты лечения
						li.nav__item
							a.nav__link(href='#') Видео
						li.nav__item
							a.nav__link(href='#') Контакты
					form.nav__form
						input(type='text',  placeholder='Введите поисковой запрос').nav__input
						button(type='sumbit').nav__button
		main.main
			section.banner__slider
				div.banner__wrapper
					div.banner__slidershow-container
						div.banner__slides
							div.banner__slide
								h2.banner__title РАСПЕЧАТАЙ КУПОН
								p.banner__paragraph и получи скидку 10% на эндовезную лазерную облитерацию!
								a.banner__link.green-buttons(href='#') Получить купон
							div.banner__slide
								h2.banner__title РАСПЕЧАТАЙ КУПОН
								p.banner__paragraph и получи скидку 11% на эндовезную лазерную облитерацию!
								a.banner__link.green-buttons(href='#') Получить купон
							div.banner__slide
								h2.banner__title РАСПЕЧАТАЙ КУПОН
								p.banner__paragraph и получи скидку 12% на эндовезную лазерную облитерацию!
								a.banner__link.green-buttons(href='#') Получить купон
					div.banner__controls
						diV.banner__dots
							span.banner__dot.banner__dot--active
							span.banner__dot
							span.banner__dot
						div.banner__arrows
							a.banner__arrow.banner__arrow--prev  
							a.banner__arrow.banner__arrow--next  
			section.about-ill 
				div.about-ill__wrapper
					div.about-ill__title.
						Флебологический центр в Москве по диагностике и лечению заболеваний вен и лимфатической системы 
					div.about-ill__paragraphs
						p.about-ill__paragraph Согласно медицинской статистике, на сегодняшний день заболевания вен и лимфатических сосудов встречаются более, чем у половины населения планеты. Патологии вен и лимфатической системы обычно склонны к хронизации и медленному прогрессированию. Учитывая то, что позднее начало или неправильно подобранная тактика лечения прямо влияют на прогноз заболевания, использование эффективных методов лечения имеет огромное значение и актуальность.
						p.about-ill__paragraph Центр флебологии, лимфологии и реконструктивной микрохирургии «АКАДЕМИЯ ЗДОРОВЫХ НОГ» – одно из лидирующих медицинских учреждений Москвы, осуществляющих лечение заболеваний вен и лимфатической системы.
						p.about-ill__paragraph.about-ill__paragraph--pb Здесь осуществляется комплексная диагностика и лечение таких патологий, как: варикозное расширение вен, посттромботическая болезнь, телеангиоэктазии, тромбоз глубоких вен, трофические язвы, лимфатический отек. Если вы ищете флеболога в Москве, то наш центр — ваш оптимальный выбор!
						a.about-ill__link.green-buttons(href='#') Больше о нас
			section.section.services
				div.section__slider-container
					ul.section__items
						li.section__item
							img.section__img(src='img/ФЛЕБОЛОГИЯ.jpg', alt='ФЛЕБОЛОГИЯ фото')
							h3.services__title ФЛЕБОЛОГИЯ
							p.section__paragraph
								| Обратитесь к грамотному флебологу в Москве, который подберет для Вас правильное лечение.
						li.section__item
							img.section__img(src='img/ЛИМФОЛОГИЯ.jpg', alt='ЛИМФОЛОГИЯ фото')
							h3.services__title ЛИМФОЛОГИЯ
							p.section__paragraph
								| У нас имеется огромный спектр методов и большой опыт в лечении лимфатических отеков.
						li.section__item
							img.section__img(src='img/МИКРОХИРУРГИЯ.jpg', alt='ЛИМФОЛОГИЯ фото')
							h3.services__title МИКРОХИРУРГИЯ
							p.section__paragraph
								| Нашим микрохирургом выполняются сложнейшие операции на лимфатических сосудах, нервах и сухожилиях.
					ul.section__items
						li.section__item
							a.services__link(href='#') Подробнее
							ul.services__mini-items
								li.services__mini-item
									a.services__mini-link(href='#') расписание врачей
								li.services__mini-item
									a.services__mini-link(href='#') цены
						li.section__item
							a.services__link(href='#') Подробнее
							ul.services__mini-items
								li.services__mini-item
									a.services__mini-link(href='#') расписание врачей
								li.services__mini-item
									a.services__mini-link(href='#') цены
						li.section__item
							a.services__link(href='#') Подробнее
							ul.services__mini-items
								li.services__mini-item
									a.services__mini-link(href='#') расписание врачей
								li.services__mini-item
									a.services__mini-link(href='#') цены
				.section__controls
					button.section__control.section__control--prev(type='button')
					button.section__control.section__control--next(type='button')
			section.about
				.about__wrapper.container
					.about__paragraphs
						p.about__paragraph
							| Лечение заболеваний вен и болезней лимфатической системы в нашем центре imосуществляется с помощью эффективных миниинвазивных методов. С этой целью мы проводим уникальные микрохирургические операции, эндовенозные облитерации, склеротерапию позволяющие с высокой степенью эффективности устранять даже самые сложные патологии на запущенных стадиях, предотвращая риск их дальнейшего прогрессирования и повторного возникновения.
						p.about__paragraph
							| С целью лечения патологий вен и лимфатической системы в нашем центре используют высокоэффективные методы и операции, среди них:
					.about__lists
						ul.about__items
							li.about__item
								a.about__link(href='#') Флебология
							li.about__item
								a.about__link(href='#') Лимфология
							li.about__item
								a.about__link(href='#') Микрохирургия
							li.about__item
								a.about__link(href='#') Эндовенозная лазерная облитерация
							li.about__item
								a.about__link(href='#') Радиочастотная облитерация вен
							li.about__item
								a.about__link(href='#') Чрезкожная радиочастотная коагуляция
							li.about__item
								a.about__link(href='#') Чрезкожная лазерная коагуляция
							li.about__item
								a.about__link(href='#') Микрослеротерапия сосудистых звездочек
							li.about__item
								a.about__link(href='#') Склеротерапия (Foam-form)
							li.about__item
								a.about__link(href='#') Минифлебэктомия
							li.about__item
								a.about__link(href='#') Shave-терапия и аутодермопластика
							li.about__item
								a.about__link(href='#') Лимфовенозные анастомозы
							li.about__item
								a.about__link(href='#') Компрессионная терапия
			section.section.doctors
				div.section__slider-container
					ul.section__items
						li.section__item.doctors__item
							img.section__img.section__img--border(src='img/якушин.jpg', alt='якушин фото')
							h3.doctors__last-name якушкин 
							h3.doctors__first-name сергей николаевич
							p.section__paragraph.doctors__paragraph
								| Руководитель центра. Хирург — флеболог. Сердечно-сосудистый хирург. Специалист ультразвуковой диагностики. Кандидат медицинских наук.
						li.section__item.doctors__item
							img.section__img.section__img--border(src='img/копылов.jpg', alt='копылов фото')
							h3.doctors__last-name КОПЫЛОВ
							h3.doctors__first-name АЛЕКСЕЙ ОЛЕГОВИЧ
							p.section__paragraph.doctors__paragraph
								| У нас имеется огромный спектр методов и большой опыт в лечении лимфатических отеков.
						li.section__item.doctors__item
							img.section__img.section__img--border(src='img/чиж.jpg', alt='чиж фото')
							h3.doctors__last-name ЧИЖ
							h3.doctors__first-name ЕКАТЕРИНА ЮРЬЕВНА
							p.section__paragraph.doctors__paragraph
								| Нашим микрохирургом выполняются сложнейшие операции на лимфатических сосудах, нервах и сухожилиях.
				.section__controls.doctors__controls
					button.section__control.section__control--prev(type='button')
					button.section__control.section__control--next(type='button')
			section.section.types-heal
				.types-heal__text
					h2.types-heal__title.container ФлебологиЯ ЛИМФОЛОГИЯ
					p.types-heal__paragraph.container
						| Это области медицины, которые работают над диагностикой, лечением и предупреждением заболеваний вен и лимфатической системы. Основным направлением являются 
						a.types-heal__link(href='#') Варикозная болезнь нижних конечностей , Трофические язвы нижних конечностей
						|  и 
						a.types-heal__link(href='#') Лимфостаз
						| .
				.types-heal__slider-container
					ul.section__items.types-heal__items
						li.types-heal__item
							img.types-heal__img(src='img/types-heal-1.png', alt='types-heal-1')
							h3.section__item-title  Тромбозы и тромбофлебиты
							p.types-heal__paragraph.types-heal__paragraph--lh Tромбозом называется образование в просвете вены кровяного сгустка…
						li.types-heal__item
							img.types-heal__img(src='img/types-heal-2.png', alt='types-heal-2')
							h3.section__item-title Сосудистые звездочки
							p.types-heal__paragraph.types-heal__paragraph--lh Сосудистые звездочки являются внешним проявлением телеангиэктазии…
						li.types-heal__item
							img.types-heal__img(src='img/types-heal-3.png', alt='types-heal-3.png')
							h3.section__item-title ПосТТРОМБАТИЧЕСКАЯ БОЛЕЗНЬ
							p.types-heal__paragraph.types-heal__paragraph--lh Это синдром, проявляющийся хронической венозной недостаточностью…
						li.types-heal__item
							img.types-heal__img(src='img/types-heal-4.png', alt='types-heal-4.png')
							h3.section__item-title  ПРОФИЛАКТИКА АНТИКОУГУЛЯНТАМИ
							p.types-heal__paragraph.types-heal__paragraph--lh Осложнениями хронической венозной недостаточности являются… 
						li.types-heal__item
							img.types-heal__img(src='img/types-heal-5.png', alt='types-heal-5')
							h3.section__item-title Заболевание вен у беременных
							p.types-heal__paragraph.types-heal__paragraph--lh
								| Течение беременности у многих женщин нередко осложняется развитием явлений венозной недостаточности
						li.types-heal__item
							img.types-heal__img(src='img/types-heal-6.png', alt='types-heal-6')
							h3.section__item-title
								| ЛИМФОСТАЗ 
								br
								| (ОТЕКИ)
							p.types-heal__paragraph.types-heal__paragraph--lh Лимфостазом называется отек тканей, обусловленный нарушением в них…
					.section__controls.types-heal__controls
						button.section__control.section__control--prev.types-heal__control(type='button')
						button.section__control.section__control--next.types-heal__control(type='button')
			section.microsurgery
				.microsurgery__wrapper.container
					h2.microsurgery__title Микрохирургия лимфатических сосудов, периферических нервов и сухожилий
					h4.microsurgery__intro Передовая микрохирургическая сосудистая техника
					p.microsurgery__paragraph
						| У нас осуществляется современное лечение варикоза лазером и с помощью радиочастотных излучений. Мы выполняем эффективное лечение трофических язв самыми современными методами с использованием международных рекомендаций. В частности, проводится оперативное лечение и применение метода гидротерапии.
					p.microsurgery__paragraph
						| Наш центр располагает высокотехнологичным микрохирургическим оборудованием, позволяющим эффективно выполнять операции на мельчайших анатомических структурах, не травмируя ткани, не оставляя послеоперационных рубцов и максимально сокращая сроки послеоперационной реабилитации пациентов.
					ul.microsurgery__items
						li.microsurgery__item Гигромы
						li.microsurgery__item Доброкачественные образования мягких тканей
						li.microsurgery__item Невринома
						li.microsurgery__item Хондрома и остеохондрома
						li.microsurgery__item Посттравматическое повреждение сухожилий кисти и стопы
						li.microsurgery__item Врожденные и вторичные синдактилии
						li.microsurgery__item Контрактура Дюпюитрена
						li.microsurgery__item Контрактура Леддерхозе
						li.microsurgery__item Стенозирующий лигаментит
						li.microsurgery__item Синдром запястного канала
			section.news
				.news_wrapper.container
					h2.news__title Новости  
					div.section__slider-container.news__slider-container
						ul.section__items.news__items
							li.news__item.section__item
								a.news__link(href='#')
									img.news__img(src='img/news_1.jpg', alt='news-foto-1')
									.news__date 21.10.2016
									h3.news__item-title Малоинвазивное лечение варикозной болезни
									p.news__paragraph.types-heal__paragraph--lh
										| Конференция «Малоинвазивное лечение варикозной болезни: современные подходы» 14 октября 2016 года в ГКБ №1 им….
							li.news__item.section__item
								a.news__link(href='#')
									img.news__img(src='img/news_2.jpg', alt='news-foto-2')
									.news__date 21.07.2016
									h3.news__item-title Якушкина С.Н в качестве эксперта в телешоу ТАБЛЕТКА на 1 канале
									p.news__paragraph
										| Выступление руководителя Центра флебологии, лимфологии и реконструктивной микрохирургии «АКАДЕМИЯ ЗДОРОВЫХ НОГ» Якушкина С.Н в качестве…
							li.news__item.section__item
								a.news__link(href='#')
									img.news__img(src='img/news_3.jpg', alt='news-foto-3.png')
									.news__date 21.07.2016
									h3.news__item-title Чем опасна варикозная болезнь?
									p.news__paragraph
										| Варикозное расширение вен — это необратимое патологическое состояние поверхностных вен нижних конечностей, связанное с несостоятельностью…
						.section__controls.news__controls
							button.section__control.section__control--prev(type='button')
							button.section__control.section__control--next(type='button')  
					.news__link--all-news.green-button ВСЕ НОВОСТИ  
			section.advantages
				.advantages__wrapper
					h2.advantages__title ПреимуществА нашей клиники! 
					div.section__slider-container.advantages__paragraphs.advantages__slider-container
						ul.section__items.advantages__items
							li.section__item.advantages__item.advantages__item--gray
								p.advantages__paragraph
									| У нас работают доктора с огромной практикой в миниинвазивной флебологии, лимфологии и микрохирургии. Наши специалисты постоянно совершенствуют свои знания, посещая научные конференции и семинары не только в России, но и в странах Европы.
							li.section__item.advantages__item.advantages__item--pale-green
								p.advantages__paragraph
									| Уникальность нашего центра в том, что стоимость услуг диагностики и лечения доступна и всегда фиксирована. Это означает, что Вы никогда не заплатите больше, чем это необходимо.
							li.section__item.advantages__item.advantages__item--green
								p.advantages__paragraph
									| Мы заботимся о здоровье Ваших ног! Помните, что ранняя диагностика и вовремя начатое лечение – залог Вашего здоровья и гарантия скорого выздоровления. Обращайтесь к нам. Центр Флебологии, Лимфологии и Реконструктивной Микрохирургии ждет Вас!
					div.section__slider-container.advantages__slider-container
						ul.section__items.advantages__items
							li.news__item.section__item
								a.advantages__link
									img.advantages__img(src='img/foto-youtube-1.jpg', alt='foto-youtube-1')
									h3.advantages__item-title Эндовенозная лазерная облитерация
							li.news__item.section__item
								a.advantages__link
									img.advantages__img(src='img/foto-youtube-2.jpg', alt='foto-youtube-2')
									h3.advantages__item-title Минифлебэктомия
							li.news__item.section__item
								a.advantages__link
									img.advantages__img(src='img/foto-youtube-3.jpg', alt='foto-youtube-3')
									h3.advantages__item-title Компрессионный бандаж в лечении трофических язв
						.section__controls.advantages__controls
							button.section__control.advantages__control.section__control--prev(type='button')
							button.section__control.advantages__control.section__control--next(type='button')  
			section#map  
		footer.footer
			.footer__wrapper.container
				.footer-logo
					img.footer-logo__img(src='img/footer-logo.png', alt='Logo')
					.footer-logo__text Центр флебологии, лимфологии и реконструктивной микрохирургии
				.footer-contacts
					h3.footer-contacts__title КОНТАКТЫ
					ul.footer-contacts__items
						li.footer-contacts__item.footer-contacts__item--phone +7 (499) 375-45-55 +7 (925) 402-28-94
						li.footer-contacts__item.footer-contacts__item--mail  a-zdorovienogi@mail.ru
						li.footer-contacts__item.footer-contacts__item--schedule с 9:00 — 20:00 Пн. — Пт. с 10:00 — 17:00 Суббота. Воскресенье выходной.
						li.footer-contacts__item.foter-contacts__item--adress г. Москва, м. Молодежная ул. Партизанская, д.24 к2
				.footer-network
					.social
						h3.social__title МЫ В СОЦИАЛЬНЫХ СЕТЯХ
						ul.social__items
							li.social__item
								a.social__link(href='#') facebook
							li.social__item
								a.social__link.social__link--vk(href='#') vk
							li.social__item
								a.social__link.social__link--in(href='#') instagram
							li.social__item
								a.social__link.social__link--ok(href='#') ok
					.mailing
						h3.mailing__title СПЕЦИАЛЬНЫЕ ПРЕДЛОЖЕНИЯ И СКИДКИ В НАШЕЙ РАССЫЛКЕ
						form.mailing__form
							input.mailing__input(type='text', placeholder='Ваш e-mail адрес')
							button.mailing__sumbit(type='sumbit')
			.mini-footer
				.mini-footer__wrapper.container
					.copyright
						.copyright__company © Академия здоровых ног 2017
						.copyright__text Все права защищены, копия материалов сайта запрещена. 
					ul.mini-footer__items
						li.mini-footer__item
							a.mini-footer__link(href='#') Вакансии
						li.mini-footer__item
							a.mini-footer__link(href='#') Условия соглашения
						li.mini-footer__item
							a.mini-footer__link(href='#') Правила и условия возврата
		script(src='js/main.js')