doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		title Академия здоровых ног
		link(rel="stylesheet", href='css/all.css')
	body
		main.main
			section.section.services
				div.section__slider-container
					ul.section__items
						li.section__item
							img.section__img(src="../img/ФЛЕБОЛОГИЯ.jpg", alt="ФЛЕБОЛОГИЯ фото")
							h3.services__title ФЛЕБОЛОГИЯ
							p.section__paragraph Обратитесь к грамотному флебологу в Москве, который подберет для Вас правильное лечение. 
						li.section__item
							img.section__img(src="../img/ЛИМФОЛОГИЯ.jpg", alt="ЛИМФОЛОГИЯ фото")
							h3.services__title ЛИМФОЛОГИЯ
							p.section__paragraph У нас имеется огромный спектр методов и большой опыт в лечении лимфатических отеков. 
						li.section__item
							img.section__img(src="../img/МИКРОХИРУРГИЯ.jpg", alt="ЛИМФОЛОГИЯ фото")
							h3.services__title МИКРОХИРУРГИЯ
							p.section__paragraph Нашим микрохирургом выполняются сложнейшие операции на лимфатических сосудах, нервах и сухожилиях.
					ul.section__items
						li.section__item
							a.services__link(href="#") Подробнее
							ul.services__mini-items
								li.services__mini-item
									a.services__mini-link(href="#") расписание врачей
								li.services__mini-item
									a.services__mini-link(href="#") цены
						li.section__item
							a.services__link(href="#") Подробнее
							ul.services__mini-items
								li.services__mini-item
									a.services__mini-link(href="#") расписание врачей
								li.services__mini-item
									a.services__mini-link(href="#") цены
						li.section__item
							a.services__link(href="#") Подробнее
							ul.services__mini-items
								li.services__mini-item
									a.services__mini-link(href="#") расписание врачей
								li.services__mini-item
									a.services__mini-link(href="#") цены
				div.section__controls
					button(type='button').section__control.section__control--prev
					button(type='button').section__control.section__control--next
			section.about
				div.about__wrapper.container
					div.about__paragraphs
						p.about__paragraph Лечение заболеваний вен и болезней лимфатической системы в нашем центре imосуществляется с помощью эффективных миниинвазивных методов. С этой целью мы проводим уникальные микрохирургические операции, эндовенозные облитерации, склеротерапию позволяющие с высокой степенью эффективности устранять даже самые сложные патологии на запущенных стадиях, предотвращая риск их дальнейшего прогрессирования и повторного возникновения.
						p.about__paragraph С целью лечения патологий вен и лимфатической системы в нашем центре используют высокоэффективные методы и операции, среди них:
					div.about__lists
						ul.about__items
							li.about__item
								a.about__link(href="#") Флебология
							li.about__item
								a.about__link(href="#") Лимфология
							li.about__item
								a.about__link(href="#") Микрохирургия
							li.about__item
								a.about__link(href="#") Эндовенозная лазерная облитерация
							li.about__item 
								a.about__link(href="#") Радиочастотная облитерация вен
							li.about__item
								a.about__link(href="#") Чрезкожная радиочастотная коагуляция
							li.about__item
								a.about__link(href="#") Чрезкожная лазерная коагуляция
							li.about__item
								a.about__link(href="#") Микрослеротерапия сосудистых звездочек
							li.about__item
								a.about__link(href="#") Склеротерапия (Foam-form)
							li.about__item
								a.about__link(href="#") Минифлебэктомия
							li.about__item
								a.about__link(href="#") Shave-терапия и аутодермопластика
							li.about__item
								a.about__link(href="#") Лимфовенозные анастомозы
							li.about__item
								a.about__link(href="#") Компрессионная терапия
			section.section.doctors
				div.section__slider-container
					ul.section__items
						li.section__item.doctors__item
							img.section__img.section__img--border(src="../img/якушин.jpg", alt="якушин фото")
							h3.doctors__last-name якушкин 
							h3.doctors__first-name сергей николаевич
							p.section__paragraph.doctors__paragraph Руководитель центра. Хирург — флеболог. Сердечно-сосудистый хирург. Специалист ультразвуковой диагностики. Кандидат медицинских наук. 
						li.section__item.doctors__item
							img.section__img.section__img--border(src="../img/копылов.jpg", alt="копылов фото")
							h3.doctors__last-name КОПЫЛОВ
							h3.doctors__first-name АЛЕКСЕЙ ОЛЕГОВИЧ
							p.section__paragraph.doctors__paragraph У нас имеется огромный спектр методов и большой опыт в лечении лимфатических отеков. 
						li.section__item.doctors__item
							img.section__img.section__img--border(src="../img/чиж.jpg", alt="чиж фото")
							h3.doctors__last-name ЧИЖ
							h3.doctors__first-name ЕКАТЕРИНА ЮРЬЕВНА
							p.section__paragraph.doctors__paragraph Нашим микрохирургом выполняются сложнейшие операции на лимфатических сосудах, нервах и сухожилиях.
				div.section__controls.doctors__controls
					button(type='button').section__control.section__control--prev
					button(type='button').section__control.section__control--next
			section.section.types-heal
				div.types-heal__text
					h2.types-heal__title.container ФлебологиЯ ЛИМФОЛОГИЯ
					p.types-heal__paragraph.container Это области медицины, которые работают над диагностикой, лечением и предупреждением заболеваний вен и лимфатической системы. Основным направлением являются <a href='#' class='types-heal__link'>Варикозная болезнь нижних конечностей , Трофические язвы нижних конечностей</a> и <a href='#' class='types-heal__link'>Лимфостаз</a>.
				div.types-heal__slider-container
					ul.section__items.types-heal__items
						li.types-heal__item
							img.types-heal__img(src="../img/types-heal-1.png", alt="types-heal-1")
							h3.section__item-title  Тромбозы и тромбофлебиты
							p.types-heal__paragraph.types-heal__paragraph--lh Tромбозом называется образование в просвете вены кровяного сгустка…
						li.types-heal__item
							img.types-heal__img(src="../img/types-heal-2.png", alt="types-heal-2")
							h3.section__item-title Сосудистые звездочки
							p.types-heal__paragraph.types-heal__paragraph--lh Сосудистые звездочки являются внешним проявлением телеангиэктазии…
						li.types-heal__item
							img.types-heal__img(src="../img/types-heal-3.png", alt="types-heal-3.png")
							h3.section__item-title ПосТТРОМБАТИЧЕСКАЯ БОЛЕЗНЬ
							p.types-heal__paragraph.types-heal__paragraph--lh Это синдром, проявляющийся хронической венозной недостаточностью…
						li.types-heal__item
							img.types-heal__img(src="../img/types-heal-4.png", alt="types-heal-4.png")
							h3.section__item-title  ПРОФИЛАКТИКА АНТИКОУГУЛЯНТАМИ
							p.types-heal__paragraph.types-heal__paragraph--lh Осложнениями хронической венозной недостаточности являются… 
						li.types-heal__item
							img.types-heal__img(src="../img/types-heal-5.png", alt="types-heal-5")
							h3.section__item-title Заболевание вен у беременных
							p.types-heal__paragraph.types-heal__paragraph--lh Течение беременности у многих женщин нередко осложняется развитием явлений венозной недостаточности
						li.types-heal__item
							img.types-heal__img(src="../img/types-heal-6.png", alt="types-heal-6")
							h3.section__item-title ЛИМФОСТАЗ <br>(ОТЕКИ)
							p.types-heal__paragraph.types-heal__paragraph--lh Лимфостазом называется отек тканей, обусловленный нарушением в них…
					div.section__controls.types-heal__controls
						button(type='button').section__control.section__control--prev.types-heal__control
						button(type='button').section__control.section__control--next.types-heal__control
			section.microsurgery
				div.microsurgery__wrapper.container
					h2.microsurgery__title Микрохирургия лимфатических сосудов, периферических нервов и сухожилий
					h4.microsurgery__intro Передовая микрохирургическая сосудистая техника
					p.microsurgery__paragraph У нас осуществляется современное лечение варикоза лазером и с помощью радиочастотных излучений. Мы выполняем эффективное лечение трофических язв самыми современными методами с использованием международных рекомендаций. В частности, проводится оперативное лечение и применение метода гидротерапии.
					p.microsurgery__paragraph Наш центр располагает высокотехнологичным микрохирургическим оборудованием, позволяющим эффективно выполнять операции на мельчайших анатомических структурах, не травмируя ткани, не оставляя послеоперационных рубцов и максимально сокращая сроки послеоперационной реабилитации пациентов. 
					ul.microsurgery__items
						li.microsurgery__item Гигромы
						li.microsurgery__item Доброкачественные образования мягких тканей
						li.microsurgery__item Невринома
						li.microsurgery__item Хондрома и остеохондрома
						li.microsurgery__item Посттравматическое повреждение сухожилий кисти и стопы
						li.microsurgery__item Врожденные и вторичные синдактилии
						li.microsurgery__item Контрактура Дюпюитрена
						li.microsurgery__item Контрактура Леддерхозе
						li.microsurgery__item Стенозирующий лигаментит
						li.microsurgery__item Синдром запястного канала