  @function p($w-el,$w-b) {
	@return $w-el*100/$w-b +0%
}

* {
	box-sizing:border-box;
}

img {
	max-width: 100%;
	height: auto;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
@mixin tablet(){
	@media(min-width: 640px) {
		@content;
	}
}

@mixin laptop(){
	@media(min-width: 900px) {
		@content;
	}
}

@mixin t900(){
	@media(min-width: 950px) {
		@content;
	}
}

@mixin laptop-or(){
	@media(min-width: 1280px) {
		@content;
	}
}

.container {
	padding: 0 p(32,320);
	@include tablet() {
		padding: 0 p(50,640);
	}	

	@include laptop() {
		padding: 0 p(83,1280);
	}
}


.green-buttons {
	width: 255px;
	display: block;
	text-align: center;
	text-decoration: none;
	color:#fff;	
	display: block;
	border-radius: 34px;
	font-family: 'Certa-Sans-Medium','Arial', sans-serif;
	font-size: 28px;
	line-height: 29px;
	padding:19.7px 0px;
	background-color: #87c66a;
}
/*-------ABOUT--------*/
.about__wrapper {
	font-family: 'Open-Sans', 'Arial', sans-serif;
	background:transparent url('../img/bg-green-about.jpg') left -156px no-repeat;
	padding-top: 65px;
	@include tablet() {
		padding-top: 60px;
		background-position: 335px 0;
	}

	@include laptop-or() {
		padding-top: 66px; 
		padding-right: 26%;
		background-image: url('../img/bg-green-foot.jpg');
		background-position: right -71px; 
	}
} 

.about__paragraph {
	margin: 0;
	margin-bottom: 34px;
	font-size: 14px;
	line-height: 24px;

	@include tablet() {
		font-size: 16px;
		line-height: 36px;
		margin-bottom: 45px;
	} 
}

.about__paragraph:last-child {
	@include tablet() {
		margin-bottom: 25px;
	} 

	@include laptop-or {
		margin-bottom: 55px;
	}
} 


.about__items {
	color: #889c4f;
	list-style: disc;

	@include tablet() {
		display: flex;
		flex-wrap: wrap;
	} 
}

.about__item {
	margin-bottom: 20px;
	@include tablet() {
		width: 38%;
		margin-right: 65px;
	}

	@include laptop-or {
		width: 25%; 
	}

}
 
.about__link {
	color: #889c4f;
	font-size: 14px;
	line-height: 20px;
} 