header
	.container
		div.header__container
			div 
				div.header__intro Ми знаємо як покращити вашу роботу
				div.hrader__logo GitHub​​ Issue​​ Browser
			div
				form(action="",class="form-search")
					input.form-search__search(type="search", name="search", placeholder="Поиск")
					input.form-search__sumbit(type="submit", value="Найти") 