main
	.container
		div.top-technology
			div.top-technology__title
				h1 Топ технологій 
			ul.top-technology__items
				li.top-technology__item
					a(href="#")
						img(src="https://assets-cdn.github.com/images/modules/explore/topics/nodejs.png", alt="Logo technology ")
						h3 Node.js
						p JavaScript runtime built on Chrome's V8 JavaScript engine.
					div.top-technology__table 
						div.top-technology__table--tr
							div Resolution
							div 14
						div.top-technology__table--tr  
							div Component
							div 2
						div.top-technology__table--tr
							div Bug
							div 4
						div.top-technology__table--tr
							div Browser
							div 3
				li.top-technology__item
					a(href="#")
						img(src="https://assets-cdn.github.com/images/modules/explore/topics/rails.png")
						h3 Rails
						p A framework that includes everything needed to create database-backed web applications.
					div.top-technology__table 
						div.top-technology__table--tr
							div Resolution
							div 14
						div.top-technology__table--tr  
							div Component
							div 2
						div.top-technology__table--tr
							div Bug
							div 4
						div.top-technology__table--tr
							div Browser
							div 3
				li.top-technology__item
					a(href="#")
						img(src="https://assets-cdn.github.com/images/modules/explore/topics/android.png", alt="Logo technology ")
						h3 Android
						p An open source software stack for a wide range of mobile devices.
					div.top-technology__table 
						div.top-technology__table--tr
							div Resolution
							div 14
						div.top-technology__table--tr  
							div Component
							div 2
						div.top-technology__table--tr
							div Bug
							div 4
						div.top-technology__table--tr
							div Browser
							div 3
	.container
		div.github-top
			div.repo
				h2 Популярні репозиторії
				div
					article
						div
							a.repo__link(href="#")
								img(height="32" src="https://avatars3.githubusercontent.com/u/33146664?s=64&amp;v=4" width="32")
								h3 Alibaba-Technology Alibaba-Technology /
						div.repo__statistics
							div.repo__statistics__tr
								div.repo__statistics__td ​​Feature​​ Integration Ratio: 93%
								div.repo__statistics--round
							div.repo__statistics__tr
								div.repo__statistics__td ​​Defect​​ Fix​​ Ratio: 83%
								div.repo__statistics--round
					article
						div
							a.repo__link(href="#")
								img(height="32" src="https://avatars3.githubusercontent.com/u/33146664?s=64&amp;v=4" width="32")
								h3 Alibaba-Technology Alibaba-Technology /
						div.repo__statistics
							div.repo__statistics__tr
								div.repo__statistics__td ​​Feature​​ Integration Ratio: 93%
								div.repo__statistics--round
							div.repo__statistics__tr
								div.repo__statistics__td ​​Defect​​ Fix​​ Ratio: 83%
								div.repo__statistics--round
					article
						div
							a.repo__link(href="#")
								img(height="32" src="https://avatars3.githubusercontent.com/u/33146664?s=64&amp;v=4" width="32")
								h3 Alibaba-Technology Alibaba-Technology /
						div.repo__statistics
							div.repo__statistics__tr
								div.repo__statistics__td ​​Feature​​ Integration Ratio: 93%
								div.repo__statistics--round
							div.repo__statistics__tr
								div.repo__statistics__td ​​Defect​​ Fix​​ Ratio: 83%
								div.repo__statistics--round
					article
						div
							a.repo__link(href="#")
								img(height="32" src="https://avatars3.githubusercontent.com/u/33146664?s=64&amp;v=4" width="32")
								h3 Alibaba-Technology Alibaba-Technology /
						div.repo__statistics
							div.repo__statistics__tr
								div.repo__statistics__td ​​Feature​​ Integration Ratio: 93%
								div.repo__statistics--round
							div.repo__statistics__tr
								div.repo__statistics__td ​​Defect​​ Fix​​ Ratio: 83%
								div.repo__statistics--round
			div.specialist
				h2 Спеціалісти своєї справи
				div
					a.link(href="#")
						article 
							div
								div.specialist__link 
									img(height="48" src="https://avatars3.githubusercontent.com/u/237229?s=96&v=4" width="48")
							div.specialist__statistics
								h3 David Dias
								div.specialist__statistics__tr
									div.specialist__statistics__text Contributes to: 
									div.specialist__statistics--type Type:bug 
									div.specialist__statistics--type Broweser: IE
									div.specialist__statistics--type Broweser: Core
					a.link(href="#")
						article 
							div
								div.specialist__link 
									img(height="48" src="https://avatars3.githubusercontent.com/u/237229?s=96&v=4" width="48")
							div.specialist__statistics
								h3 David Dias
								div.specialist__statistics__tr
									div.specialist__statistics__text Contributes to: 
									div.specialist__statistics--type Type:bug 
									div.specialist__statistics--type Broweser: IE
									div.specialist__statistics--type Broweser: Core
					a.link(href="#")
						article 
							div
								div.specialist__link 
									img(height="48" src="https://avatars3.githubusercontent.com/u/237229?s=96&v=4" width="48")
							div.specialist__statistics
								h3 David Dias
								div.specialist__statistics__tr
									div.specialist__statistics__text Contributes to: 
									div.specialist__statistics--type Type:bug 
									div.specialist__statistics--type Broweser: IE
									div.specialist__statistics--type Broweser: Core
					a.link(href="#")
						article 
							div
								div.specialist__link 
									img(height="48" src="https://avatars3.githubusercontent.com/u/237229?s=96&v=4" width="48")
							div.specialist__statistics
								h3 David Dias
								div.specialist__statistics__tr
									div.specialist__statistics__text Contributes to: 
									div.specialist__statistics--type Type:bug 
									div.specialist__statistics--type Broweser: IE
									div.specialist__statistics--type Broweser: Core