doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		link(rel="stylesheet", href='css/all.css')
	body
		section.about
			div.about__wrapper.container
				div.about__paragraphs
					p.about__paragraph Лечение заболеваний вен и болезней лимфатической системы в нашем центре imосуществляется с помощью эффективных миниинвазивных методов. С этой целью мы проводим уникальные микрохирургические операции, эндовенозные облитерации, склеротерапию позволяющие с высокой степенью эффективности устранять даже самые сложные патологии на запущенных стадиях, предотвращая риск их дальнейшего прогрессирования и повторного возникновения.
					p.about__paragraph С целью лечения патологий вен и лимфатической системы в нашем центре используют высокоэффективные методы и операции, среди них:
				div.about__lists
					ul.about__items
						li.about__item
							a.about__link(href="#") Флебология
						li.about__item
							a.about__link(href="#") Лимфология
						li.about__item
							a.about__link(href="#") Микрохирургия
						li.about__item
							a.about__link(href="#") Эндовенозная лазерная облитерация
						li.about__item 
							a.about__link(href="#") Радиочастотная облитерация вен
						li.about__item
							a.about__link(href="#") Чрезкожная радиочастотная коагуляция
						li.about__item
							a.about__link(href="#") Чрезкожная лазерная коагуляция
						li.about__item
							a.about__link(href="#") Микрослеротерапия сосудистых звездочек
						li.about__item
							a.about__link(href="#") Склеротерапия (Foam-form)
						li.about__item
							a.about__link(href="#") Минифлебэктомия
						li.about__item
							a.about__link(href="#") Shave-терапия и аутодермопластика
						li.about__item
							a.about__link(href="#") Лимфовенозные анастомозы
						li.about__item
							a.about__link(href="#") Компрессионная терапия

