doctype html
html(lang="ua")
  head
    title GIB(GitHub​​ Issue​​ Browser)
    meta(charset='utf-8')
    link( href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900", rel="stylesheet")
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel="stylesheet", href='css/all.css')
  body
    include ./jade/header.jade 
    include ./jade/main.jade