  @function p($w-el,$w-b) {
	@return $w-el*100/$w-b +0%
}

* {
	box-sizing:border-box;
}

img {
	max-width: 100%;
	height: auto;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
@mixin tablet(){
	@media(min-width: 640px) {
		@content;
	}
}

@mixin laptop(){
	@media(min-width: 900px) {
		@content;
	}
}

@mixin m420(){
	@media(min-width: 420px) {
		@content;
	}
}

@mixin t900(){
	@media(min-width: 950px) {
		@content;
	}
}

@mixin laptop-or(){
	@media(min-width: 1280px) {
		@content;
	}
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

.container {
	padding: 0 p(32,320);
	@include tablet() {
		padding: 0 p(50,640);
	}	

	@include laptop() {
		padding: 0 p(83,1280);
	}
}
 
/*-------ABOUT--------*/

.section {
	margin-bottom: 35px;
	position: relative;

	@include tablet() {
		margin-bottom: 60px;
	}

	@include laptop-or() {
		margin-bottom: 45px;
	}
}
.section__slider-container {
	overflow: hidden;

	@include tablet() {
		margin: 0 5.9%;
	}

	@include t900() {
		margin: 0 5.5%;
		overflow: visible;
	}
}
.section__items {
	width: 100%;
	display: flex;
	position: relative;
    left: 0%;

    @include tablet() {
    	display: flex;
    	justify-content: space-around;
    	width: 150%;
    	left: 0;/*-52%*/
    }  

	@include t900() {
		width: 100%;
		position: static;
	}
} 

.section__item {
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 100%;

	@include m420() {
		align-items: center;
	}

    @include tablet() {
    	align-items: flex-start;
		max-width: 255px;
		padding: 0;
		min-width: 255px; 
    }

    @include laptop-or() {
		max-width: 350px;
		min-width: 350px;
    }
} 

.section__img {
	width: 255px;
	height: 255px;
	align-self: center;

	@include laptop-or() { 
		width: 350px;
		height: 350px;
	}
}

.services__title { 
	padding: 0 10%;
	color:#87c66a;
	font-size: 27px;
	margin-top: 35px;
	margin-bottom: 11px;
	line-height: 29px;
	font-family: 'Roboto-Condensed-Regular', 'Arial', sans-serif;
	font-weight: 700;

	@include tablet() {
		padding: 0;
		margin-top: 35px;
	}
}

.services__title--bold {
	font-weight: bold;
}

.section__paragraph {
	padding: 0 10%;
	margin-top: 0;
	margin-bottom: 30px;
	font-family: 'Open-Sans', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 24px;
	left: 24px;
	color: #77787b;

	@include tablet() {
		padding: 0;
	} 
	
}

.services__link {
	margin-bottom: 34px;
	width: 255px;
	display: block;
	text-align: center;
	text-decoration: none;
	align-self: center;
	color:#fff;	
	display: block;
	border-radius: 34px;
	font-family: 'Certa-Sans-Medium','Arial', sans-serif;
	font-size: 28px; 
	line-height: 29px;
	padding:19.7px 0px;
	background-color: #87c66a;

	@include laptop-or() {
		align-self: flex-start;
	}
}

.services__mini-items {
	list-style: disc;
	color: #87c66a;
	padding-left:10%;

	@include laptop() {
		padding-left: 0;
	}
}

@media(min-width: 420px) {
	.services__mini-items {
		padding-left: 0;
	}
}


.services__mini-item {
	margin-bottom: 10px; 
}
.services__mini-link{
	color: #87c66a;
	font-weight: 700;
	font-size: 17px;
	line-height: 17px;
	font-family: 'Open-Sans', 'Arial', sans-serif;
} 


.section__controls {
	margin-bottom: 70px;
	margin-top: 30px;
	display: flex;
	justify-content: center;
	align-self: center;
		
		@include tablet() {
			margin: 0;
		}
		@include t900() {
		position: absolute;
		visibility: hidden;
		top: -9999px; 
	}
}

.section__control {
	padding: 0;
	width: 44px;
	height: 44px;
	border: none;
    background: #87c66a url(../img/arrow.svg) no-repeat center center;
    background-size: 100px 100px; 

    @include tablet {
    	position: absolute;
    	right: 0;
    	top: 234px;  
    }
} 
.section__control--prev {
	margin-right: 6px;
	transform: rotate(180deg);

	@include tablet() {
		left: 0;
	} 
} 

.section__img--border {
	margin-bottom: 43px;
	border: 9px solid #8bc75b;
	border-radius: 50%;
	width: 255px; 
	height: 255px;
}

.about {
	margin-bottom: 72px;

	@include tablet() {
		margin-bottom: 46px;
	}

	@include laptop-or() {
		margin-bottom: 97px;
	}
}
.about__wrapper {
	padding: 0 10%;
	font-family: 'Open-Sans', 'Arial', sans-serif;
	background:transparent url('../img/bg-green-about.jpg') left -147px no-repeat;
	padding-top: 65px;
	@include tablet() {
		padding-top: 60px;
		background-position: 335px 0;
	}

	@include laptop-or() {
		padding-top: 137px; 
		padding-bottom: 80px;
		padding-right: 26%;
		background-color: #f8f8f8;
		background-image: url('../img/bg-green-foot.jpg');
		background-position: right 0px; 
	}

} 

.about__paragraph {
	margin: 0;
	margin-bottom: 34px;
	font-size: 14px;
	line-height: 24px;

	@include tablet() {
		font-size: 16px;
		line-height: 36px;
		margin-bottom: 45px;
	} 
}

.about__paragraph:last-child {
	@include tablet() {
		margin-bottom: 25px;
	} 

	@include laptop-or {
		margin-bottom: 55px;
	}
} 

.about__lists {
	@include laptop-or() {
		margin-top: 50px;
	}
}

.about__items {
	color: #889c4f;
	list-style: disc;

	@include tablet() {
		display: flex;
		flex-wrap: wrap;
	} 
}

.about__item {
	margin-bottom: 20px;
	@include tablet() {
		width: 38%;
		margin-right: 63px;
	}

	@include laptop-or {
		width: 25%; 
	}

}
 
.about__link {
	color: #889c4f;
	font-size: 14px;
	line-height: 20px;
} 

.doctors {
	margin-bottom: 66px;

	@include tablet() {
		margin-bottom: 19px;
	}
}

.doctors__last-name,
.doctors__first-name {
	padding: 0 10%;
	align-self: flex-start;
	text-transform: uppercase;
	font-family: 'Roboto-Condensed-Regular', 'Arial', sasns-serif;
	font-size: 26px;
	line-height: 36px;
	color: #8bc75a;

	@include tablet() {
		padding: 0;
	}
} 

.doctors__first-name {
	margin-bottom: 18px; 
	font-weight: normal;	
}

.doctors__paragraph {
	font-size: 16px;
	line-height: 30px;
	margin-bottom: 20px; 	
}

.doctors__item {
	@include laptop-or() {
		min-width: 255px;
		max-width: 255px;
	}
}

.doctors__controls {
	margin-top: 14px;
	margin-bottom: 0;
}  

.types-heal {
	margin-bottom: 0; 
	font-family: 'Open-Sans', 'Arial', sans-serif;
}

.types-heal__title { 
	padding-right: 0;
	max-width: 300px;
	position: relative;
	margin-bottom: 28px;
	font-family: 'Certa-Sans-Medium', 'Arial', sans-serif;
	font-size: 33px;
	line-height: 32px;
	text-transform: uppercase;
	background:transparent url('../img/bg-types-heal-title.jpg') no-repeat;
	background-position: 218px 13px;

	@include tablet() {
		max-width: 700px; 
		background-image: url('../img/bg-types-heal-title-tablet.jpg');
		margin-bottom: 18px;
		background-position: 451px 33px;
		font-size: 72px;
		line-height: 72px;
	}

	@include laptop-or() {
		margin-bottom: 24px;
		background-position: 489px 33px;
	}
}

.types-heal__paragraph{
	color: #636466;
	font-size: 14px;
	line-height: 24px;
	margin: 0;
	margin-bottom: 67px;

	@include tablet() {
		font-size: 16px;
		line-height: 32px;
		margin-bottom: 25px;
	}

	@include laptop-or {
		margin-bottom: 45px;
		width: 72%;
	}
} 

.types-heal__link {
	color: #889c4f;
}

.types-heal__slider-container {
	overflow: hidden;
	@include tablet() {
		margin: 0 7.8%;
	}

	@include laptop-or() {
		overflow: visible;
		margin: 0 6.7%; 
	}
}

.types-heal__items {
	justify-content: space-between;
	left: 0;/*35.3*/

	@include tablet() {
		width: 200%;
	}

	@include laptop-or() {
		width: 100%;
	}
}

.types-heal__item {
	padding: 0 24%;
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 100%;

    @include tablet() {
    	padding: 0;
    	min-width: 0;
    	width: 160px;
    } 
}

.types-heal__img {
	margin-bottom: 24px;
	max-width: 66px;
	max-height: 64px;
}  
.section__item-title {
	margin-bottom: 9px;
	text-transform: uppercase;
	font-family: 'Certa-Sans-Medium', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 21px;
	color: #87c66a;
}  

.types-heal__paragraph--lh {
		line-height: 21px;
		margin-bottom: 0px;

		@include tablet() {
			font-size: 14px;
		}

		@include laptop-or() {
			width: 100%;
		}
} 

.types-heal__controls {
	margin-top: 0;
	margin-bottom: 64px;

	@include tablet() {
		margin-bottom: 0;
	}
	@include t900() {
		position: static;
		visibility: visible;
		top: initial; 
	}

	@include laptop-or() {
		position: absolute;
		visibility: hidden;
		top: -9999px; 
	}
}

.types-heal__control {

	@include tablet() {
		top: initial;
		bottom: 152px;
	} 
}     


.microsurgery {
	margin: 0 3px;
	margin-bottom: 66px;
	padding-bottom: 17px;
	color: #fff; 
	background-color: #7aaa7d;

	@include tablet() {
		margin: 0;
		margin-bottom: 41px;
		padding-top: 65px;
		background:transparent url('../img/microsurgery-bg.jpg') left top no-repeat;
		background-size: 100% auto;
	}  

	@include laptop-or() {
		padding-left: 30.8%;
		padding-top: 102px;
		margin-bottom: 71px;	
	}
}

.microsurgery__wrapper {
	padding-top: 65px; 
	padding-left: 8.6%; 
	padding-right: 9%;

	@include tablet() {
		padding-bottom: 50px;
		padding-top: 63px;
		padding-left: 7.5%;
		background-color: rgba(#528d4a,0.75);
	}

	@include laptop-or() {
		padding-top: 59px;
		padding-left: 10.5%;
		padding-right: 18%;
		padding-bottom: 163px;	 
	}
}

.microsurgery__title {
	padding-right: 11%;
	margin-bottom: 27px;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 30px;
	font-family: 'Certa-Sans-Medium', 'Arial', sans-serif;

	@include tablet() {
		margin-bottom: 18px;
	}

	@include laptop-or() {
		padding-right: 0;
		font-size: 36px;
		line-height: 47px;
		margin-bottom: 16px;
	}
}

.microsurgery__intro {
	margin-bottom: 26px;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 16px;
	font-family: 'Certa-Sans-Medium', 'Arial', sans-serif;
	@include tablet() {
		margin-bottom: 18px;
	}

	@include laptop-or() {
		font-size: 21px;
		line-height: 21px;
		margin-bottom: 20px;
	}
}

.microsurgery__paragraph  {
	margin: 0;
	margin-bottom: 29px;
	font-size: 14px;
	line-height: 21px;
	font-family: 'Open-Sans', 'Arial', sans-serif;
}


.microsurgery__items {
	margin-top: -8px; 
	margin-left: 18px;
	list-style-type: disc;
	font-family: 'Open-Sans', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 21px;	

	@include tablet() {
		margin-top: 39px;
		margin-left: 0;
		display: flex;
		flex-wrap: wrap;
	}

	@include laptop-or() {
		margin-top: -4px;	
		margin-right: 5px;	
		justify-content: space-between;	
	}
}

.microsurgery__item {
	margin-bottom: 14px;

	@include tablet() {
		width: 50%;
	}

	@include laptop-or() {
		width: 39%;	
	}
} 

.news__title { 
	text-transform: uppercase; 
	font-family: 'Certa-Sans-Medium', 'Arial', sans-serif;
	font-size: 30px;
	line-height: 32px;
	margin-bottom: 30px;

	@include tablet() {
		font-size: 71px;
		line-height: 72px;
		margin-bottom: 27px;
	}

	@include laptop-or() {
		margin-bottom: 35px;	
	}
}

.news__slider-container {
	@include tablet() {
		margin: 0; 
	}
}

.news__items { 
	margin-bottom: 50px;

	@include tablet() {
		justify-content: space-between;
		width: 153%;
		margin-bottom: 37px;
	}

	@include t900() {
		width: 100%;
	}
}

.news__link {
	text-decoration: none;
	display: block;
	color: #000;
}

.news__img {
	margin-bottom: 32px;
	width: 255px;
	height: 255px;

	@include laptop-or() {
		width: 355px;
		height: 355px;
	}
}

.news__date {
	font-size: 14px;
	font-family: 'Open-Sans', 'Arial', sans-serif;
}

.news__item-title { 
	font-size: 27px;
	line-height: 36px;
	font-weight: bold;
	font-family: 'Roboto-Condensed-Regular', 'Arial', sans-serif;
	color: #87c66a;

	@include laptop-or() {
		margin-bottom: 9px;
	}
}

.news__paragraph  {
	margin: 0;
	font-family: 'Open-Sans', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 30px;
}

.news__controls {
	margin-bottom: 44px;

	@include tablet() {
		margin: 0;
	}
}
.news__link--all-news {
	width: 255px;
	text-align: center;
	text-decoration: none;
	color:#fff;	
	display: block;
	border-radius: 34px;
	font-family: 'Roboto-Condensed-Regular', 'Arial', sans-serif;
	font-size: 25px;
	font-weight: bold;
	line-height: 26px;
	padding:22px 0px;
	padding-bottom: 21px; 
	background-color: #87c66a;

	@include tablet() {
		width: 293px;
		margin: 0 auto;
	}

	@include laptop-or() {
		padding: 24px 0 21px;
		font-size: 28px;
		line-height: 28px;
	}
}