body {
    margin: 0;
    padding: 0;
    background-position: center center;
    font-family: 'Open Sans', sans-serif;;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-image: url('1.jpg');
    background-repeat: no-repeat;
}

header {
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    display: flex;
}
header h1 {
    position: relative;
}

.main {
    justify-content: center;
    display: flex;
}
.main__container {
    margin-top: 15%;
    background-color: rgba(0, 0, 0, 0.5); 
    width: 85%;
    min-height: 400px;
}

nav {
    justify-content: center;
    display: flex;
}
.user__block {
    align-items: flex-start;
    justify-content: space-around;
    display: flex;
}

.text__for-user {
    max-width: 60%;
}

#user__name {
    margin-top: 0;
    margin-bottom: 0;
    color:aliceblue;
    font-size: 40px;
    line-height: 43px;
}

.cool__foto {
    font-weight: 800;
    color: coral;
    margin-top: 25px;
    font-size: 22px;
    position: relative;
    font-weight: 800;
}
.cool__foto:after {
    position: absolute;
    bottom: -4px; right: 148px;
    content: ""; 
    width: 25px;
    height: 25px;
    background: url("hearticons01.png") no-repeat;
    background-size: 24px 24px;
}

section {
    min-width: 855px;
    max-width: 859px;
}

.help-user {
    font-size: 21px;
    line-height: 30px;
}

.span-fire {
    color: #f96e3b;
    text-decoration: underline;
}

.ghost__user {
    display: none;
}

.friends__block {
    display: flex;
}
.friends__block:hover {
    box-shadow: 0 0 10px 5px white;
}



.title__friends {
    color: #6f24bf;
    margin: 0;
    line-height: 36px;
    font-size: 35px;
}

.birthday {
    line-height: 36px;
    font-size: 25px;
    color: #e5683b;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}



.link__friends {
    position: relative;
    border: 3px dotted #5188ad;
    border-bottom-style: dotted;
    width: 99.4%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.img__friends > img{
    margin-bottom: -3px;
}




.friends__container {
    flex-direction: column-reverse;
    display: flex;
}

.info__friends {
    flex-direction: column;
    display: flex;
    justify-content: space-around;
}



.footer__container {
    background-color: rgba(0,0,0,0.85);
    margin-top: 30px;
    font-size: 20px;
    align-items: center;
    justify-content: space-around;
    display: flex;
}
.footer__container > p {
    color: white;
}

.link_group {
    text-decoration: underline;
    color:white;
}



.img__friends {
    margin-left: 95px;
    margin-right: 160px;
}

.friends__ghost {
    display: none;
}

body {
    overflow-x: hidden;
}
.present:after {
    content:"";
    position: absolute;
    width: 110px;
    height: 110px;
    background-size: cover;
    background: no-repeat url('gift-present.gif');
    top: 0;
    left: -16px;
}