doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		link(rel="stylesheet", href='css/all.css')
	body
		main.main
			section.services
				div.services__wrapper
					ul.services__items
						li.services__item
							img.servises__img(src="../img/ФЛЕБОЛОГИЯ.jpg", alt="ФЛЕБОЛОГИЯ фото")
							h3.services__title ФЛЕБОЛОГИЯ
							p.services__paragraph Обратитесь к грамотному флебологу в Москве, который подберет для Вас правильное лечение.
							a.services__link(href="#") Подробнее
							ul.services__mini-items
								li.services__mini-item
									a.services__mini-link(href="#") расписание врачей
								li.services__mini-item
									a.services__mini-link(href="#") цены
						li.services__item
							img.servises__img(src="../img/ЛИМФОЛОГИЯ.jpg", alt="ЛИМФОЛОГИЯ фото")
							h3.services__title ЛИМФОЛОГИЯ
							p.services__paragraph У нас имеется огромный спектр методов и большой опыт в лечении лимфатических отеков. 
							a.services__link(href="#") Подробнее
							ul.services__mini-items
								li.services__mini-item
									a.services__mini-link(href="#") расписание врачей
								li.services__mini-item
									a.services__mini-link(href="#") цены
						li.services__item
							img.servises__img(src="../img/МИКРОХИРУРГИЯ.jpg", alt="ЛИМФОЛОГИЯ фото")
							h3.services__title МИКРОХИРУРГИЯ
							p.services__paragraph Нашим микрохирургом выполняются сложнейшие операции на лимфатических сосудах, нервах и сухожилиях.
							a.services__link(href="#") Подробнее
							ul.services__mini-items
								li.services__mini-item
									a.services__mini-link(href="#") расписание врачей
								li.services__mini-item
									a.services__mini-link(href="#") цены
				div.services__controls
					button(type='button').services__control.services__controls--prev
					button(type='button').services__control.services__controls--next
