doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		title Академия здоровых ног
		link(rel="stylesheet", href='css/all.css')
	body
		main.main
			section.section.services
				div.section__slider-container
					ul.section__items
						li.section__item
							img.section__img(src="img/ФЛЕБОЛОГИЯ.jpg", alt="ФЛЕБОЛОГИЯ фото")
							h3.services__title ФЛЕБОЛОГИЯ
							p.section__paragraph Обратитесь к грамотному флебологу в Москве, который подберет для Вас правильное лечение. 
						li.section__item
							img.section__img(src="img/ЛИМФОЛОГИЯ.jpg", alt="ЛИМФОЛОГИЯ фото")
							h3.services__title ЛИМФОЛОГИЯ
							p.section__paragraph У нас имеется огромный спектр методов и большой опыт в лечении лимфатических отеков. 
						li.section__item
							img.section__img(src="img/МИКРОХИРУРГИЯ.jpg", alt="ЛИМФОЛОГИЯ фото")
							h3.services__title МИКРОХИРУРГИЯ
							p.section__paragraph Нашим микрохирургом выполняются сложнейшие операции на лимфатических сосудах, нервах и сухожилиях.
					ul.section__items
						li.section__item
							a.services__link(href="#") Подробнее
							ul.services__mini-items
								li.services__mini-item
									a.services__mini-link(href="#") расписание врачей
								li.services__mini-item
									a.services__mini-link(href="#") цены
						li.section__item
							a.services__link(href="#") Подробнее
							ul.services__mini-items
								li.services__mini-item
									a.services__mini-link(href="#") расписание врачей
								li.services__mini-item
									a.services__mini-link(href="#") цены
						li.section__item
							a.services__link(href="#") Подробнее
							ul.services__mini-items
								li.services__mini-item
									a.services__mini-link(href="#") расписание врачей
								li.services__mini-item
									a.services__mini-link(href="#") цены
				div.section__controls
					button(type='button').section__control.section__control--prev
					button(type='button').section__control.section__control--next
			section.about
				div.about__wrapper.container
					div.about__paragraphs
						p.about__paragraph Лечение заболеваний вен и болезней лимфатической системы в нашем центре imосуществляется с помощью эффективных миниинвазивных методов. С этой целью мы проводим уникальные микрохирургические операции, эндовенозные облитерации, склеротерапию позволяющие с высокой степенью эффективности устранять даже самые сложные патологии на запущенных стадиях, предотвращая риск их дальнейшего прогрессирования и повторного возникновения.
						p.about__paragraph С целью лечения патологий вен и лимфатической системы в нашем центре используют высокоэффективные методы и операции, среди них:
					div.about__lists
						ul.about__items
							li.about__item
								a.about__link(href="#") Флебология
							li.about__item
								a.about__link(href="#") Лимфология
							li.about__item
								a.about__link(href="#") Микрохирургия
							li.about__item
								a.about__link(href="#") Эндовенозная лазерная облитерация
							li.about__item 
								a.about__link(href="#") Радиочастотная облитерация вен
							li.about__item
								a.about__link(href="#") Чрезкожная радиочастотная коагуляция
							li.about__item
								a.about__link(href="#") Чрезкожная лазерная коагуляция
							li.about__item
								a.about__link(href="#") Микрослеротерапия сосудистых звездочек
							li.about__item
								a.about__link(href="#") Склеротерапия (Foam-form)
							li.about__item
								a.about__link(href="#") Минифлебэктомия
							li.about__item
								a.about__link(href="#") Shave-терапия и аутодермопластика
							li.about__item
								a.about__link(href="#") Лимфовенозные анастомозы
							li.about__item
								a.about__link(href="#") Компрессионная терапия
			section.section.doctors
				div.section__slider-container
					ul.section__items
						li.section__item.doctors__item
							img.section__img.section__img--border(src="img/якушин.jpg", alt="якушин фото")
							h3.doctors__last-name якушкин 
							h3.doctors__first-name сергей николаевич
							p.section__paragraph.doctors__paragraph Руководитель центра. Хирург — флеболог. Сердечно-сосудистый хирург. Специалист ультразвуковой диагностики. Кандидат медицинских наук. 
						li.section__item.doctors__item
							img.section__img.section__img--border(src="img/копылов.jpg", alt="копылов фото")
							h3.doctors__last-name КОПЫЛОВ
							h3.doctors__first-name АЛЕКСЕЙ ОЛЕГОВИЧ
							p.section__paragraph.doctors__paragraph У нас имеется огромный спектр методов и большой опыт в лечении лимфатических отеков. 
						li.section__item.doctors__item
							img.section__img.section__img--border(src="img/чиж.jpg", alt="чиж фото")
							h3.doctors__last-name ЧИЖ
							h3.doctors__first-name ЕКАТЕРИНА ЮРЬЕВНА
							p.section__paragraph.doctors__paragraph Нашим микрохирургом выполняются сложнейшие операции на лимфатических сосудах, нервах и сухожилиях.
				div.section__controls.doctors__controls
					button(type='button').section__control.section__control--prev
					button(type='button').section__control.section__control--next
			section.section.types-heal
				div.types-heal__text
					h2.types-heal__title.container ФлебологиЯ ЛИМФОЛОГИЯ
					p.types-heal__paragraph.container Это области медицины, которые работают над диагностикой, лечением и предупреждением заболеваний вен и лимфатической системы. Основным направлением являются <a href='#' class='types-heal__link'>Варикозная болезнь нижних конечностей , Трофические язвы нижних конечностей</a> и <a href='#' class='types-heal__link'>Лимфостаз</a>.
				div.types-heal__slider-container
					ul.section__items.types-heal__items
						li.types-heal__item
							img.types-heal__img(src="img/types-heal-1.png", alt="types-heal-1")
							h3.section__item-title  Тромбозы и тромбофлебиты
							p.types-heal__paragraph.types-heal__paragraph--lh Tромбозом называется образование в просвете вены кровяного сгустка…
						li.types-heal__item
							img.types-heal__img(src="img/types-heal-2.png", alt="types-heal-2")
							h3.section__item-title Сосудистые звездочки
							p.types-heal__paragraph.types-heal__paragraph--lh Сосудистые звездочки являются внешним проявлением телеангиэктазии…
						li.types-heal__item
							img.types-heal__img(src="img/types-heal-3.png", alt="types-heal-3.png")
							h3.section__item-title ПосТТРОМБАТИЧЕСКАЯ БОЛЕЗНЬ
							p.types-heal__paragraph.types-heal__paragraph--lh Это синдром, проявляющийся хронической венозной недостаточностью…
						li.types-heal__item
							img.types-heal__img(src="img/types-heal-4.png", alt="types-heal-4.png")
							h3.section__item-title  ПРОФИЛАКТИКА АНТИКОУГУЛЯНТАМИ
							p.types-heal__paragraph.types-heal__paragraph--lh Осложнениями хронической венозной недостаточности являются… 
						li.types-heal__item
							img.types-heal__img(src="img/types-heal-5.png", alt="types-heal-5")
							h3.section__item-title Заболевание вен у беременных
							p.types-heal__paragraph.types-heal__paragraph--lh Течение беременности у многих женщин нередко осложняется развитием явлений венозной недостаточности
						li.types-heal__item
							img.types-heal__img(src="img/types-heal-6.png", alt="types-heal-6")
							h3.section__item-title ЛИМФОСТАЗ <br>(ОТЕКИ)
							p.types-heal__paragraph.types-heal__paragraph--lh Лимфостазом называется отек тканей, обусловленный нарушением в них…
					div.section__controls.types-heal__controls
						button(type='button').section__control.section__control--prev.types-heal__control
						button(type='button').section__control.section__control--next.types-heal__control
			section.microsurgery
				div.microsurgery__wrapper.container
					h2.microsurgery__title Микрохирургия лимфатических сосудов, периферических нервов и сухожилий
					h4.microsurgery__intro Передовая микрохирургическая сосудистая техника
					p.microsurgery__paragraph У нас осуществляется современное лечение варикоза лазером и с помощью радиочастотных излучений. Мы выполняем эффективное лечение трофических язв самыми современными методами с использованием международных рекомендаций. В частности, проводится оперативное лечение и применение метода гидротерапии.
					p.microsurgery__paragraph Наш центр располагает высокотехнологичным микрохирургическим оборудованием, позволяющим эффективно выполнять операции на мельчайших анатомических структурах, не травмируя ткани, не оставляя послеоперационных рубцов и максимально сокращая сроки послеоперационной реабилитации пациентов. 
					ul.microsurgery__items
						li.microsurgery__item Гигромы
						li.microsurgery__item Доброкачественные образования мягких тканей
						li.microsurgery__item Невринома
						li.microsurgery__item Хондрома и остеохондрома
						li.microsurgery__item Посттравматическое повреждение сухожилий кисти и стопы
						li.microsurgery__item Врожденные и вторичные синдактилии
						li.microsurgery__item Контрактура Дюпюитрена
						li.microsurgery__item Контрактура Леддерхозе
						li.microsurgery__item Стенозирующий лигаментит
						li.microsurgery__item Синдром запястного канала
			section.news
				div.news_wrapper.container
					h2.news__title Новости  
					div.section__slider-container.news__slider-container
						ul.section__items.news__items
							li.news__item.section__item
								a.news__link(href='#')
									img.news__img(src="img/news_1.jpg", alt="news-foto-1")
									div.news__date 21.10.2016
									h3.news__item-title Малоинвазивное лечение варикозной болезни
									p.news__paragraph.types-heal__paragraph--lh Конференция «Малоинвазивное лечение варикозной болезни: современные подходы» 14 октября 2016 года в ГКБ №1 им….
							li.news__item.section__item
								a.news__link(href='#')
									img.news__img(src="img/news_2.jpg", alt="news-foto-2")
									div.news__date 21.07.2016
									h3.news__item-title Якушкина С.Н в качестве эксперта в телешоу ТАБЛЕТКА на 1 канале
									p.news__paragraph Выступление руководителя Центра флебологии, лимфологии и реконструктивной микрохирургии «АКАДЕМИЯ ЗДОРОВЫХ НОГ» Якушкина С.Н в качестве…
							li.news__item.section__item
								a.news__link(href='#')
									img.news__img(src="img/news_3.jpg", alt="news-foto-3.png")
									div.news__date 21.07.2016
									h3.news__item-title Чем опасна варикозная болезнь?
									p.news__paragraph Варикозное расширение вен — это необратимое патологическое состояние поверхностных вен нижних конечностей, связанное с несостоятельностью…
						div.section__controls.news__controls
							button(type='button').section__control.section__control--prev
							button(type='button').section__control.section__control--next 
					div.news__link--all-news.green-button ВСЕ НОВОСТИ  
			section.advantages
				div.advantages__wrapper
					h2.advantages__title ПреимуществА нашей клиники! 
					div.section__slider-container.advantages__paragraphs.advantages__slider-container
						ul.section__items.advantages__items
							li.section__item.advantages__item.advantages__item--gray
								p.advantages__paragraph У нас работают доктора с огромной практикой в миниинвазивной флебологии, лимфологии и микрохирургии. Наши специалисты постоянно совершенствуют свои знания, посещая научные конференции и семинары не только в России, но и в странах Европы.
							li.section__item.advantages__item.advantages__item--pale-green 
								p.advantages__paragraph Уникальность нашего центра в том, что стоимость услуг диагностики и лечения доступна и всегда фиксирована. Это означает, что Вы никогда не заплатите больше, чем это необходимо.
							li.section__item.advantages__item.advantages__item--green
								p.advantages__paragraph Мы заботимся о здоровье Ваших ног! Помните, что ранняя диагностика и вовремя начатое лечение – залог Вашего здоровья и гарантия скорого выздоровления. Обращайтесь к нам. Центр Флебологии, Лимфологии и Реконструктивной Микрохирургии ждет Вас!
					div.section__slider-container.advantages__slider-container
						ul.section__items.advantages__items
							li.news__item.section__item
								a.advantages__link
									img.advantages__img(src="img/foto-youtube-1.jpg", alt="foto-youtube-1")
									h3.advantages__item-title Эндовенозная лазерная облитерация
							li.news__item.section__item
								a.advantages__link
									img.advantages__img(src="img/foto-youtube-2.jpg", alt="foto-youtube-2")
									h3.advantages__item-title Минифлебэктомия
							li.news__item.section__item
								a.advantages__link
									img.advantages__img(src="img/foto-youtube-3.jpg", alt="foto-youtube-3")
									h3.advantages__item-title Компрессионный бандаж в лечении трофических язв
						div.section__controls.advantages__controls
							button(type='button').section__control.advantages__control.section__control--prev
							button(type='button').section__control.advantages__control.section__control--next 
			section#map 
